html,
body {
  margin: 0;
}
body {
  background-color: #dddddd;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: white;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 15%;
  background-color: #e7ddd7;
  padding: 10px 20px 0px;
}
.header {
  background-color: #d1c9c1;
  min-height: 100px;
  width: auto;
}
.content {
  background-color: #d1c9c1;
  min-height: 350px;
  padding: 20px;
}
.footer {
  background-color: #e7ddd7;
  min-height: 100px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.servicesTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.servicesTable th {
  background-color: #e7ddd7;
  padding: 10px;
  text-align: left;
}
.servicesTable td {
  padding: 10px;
  border-bottom: 1px solid #d1c9c1;
}

.contactForm {
  display: flex;
  flex-flow: column;
  align-items: start;
  margin-top: 20px;
}
